<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\css\homeStyle.css">
</head>
<body>

    <div class="main">
        <div class="background-slider">
            <img src="\css\homeImages\tm2.jpg" alt="Beautiful landscape 1">
            <img src="\css\homeImages\tm3.jpg" alt="Beautiful landscape 2">
            <img src="\css\homeImages\tm4.jpg" alt="Beautiful landscape 3">   
        </div>
        <div class="navbar">
            <div class="logo">
                <img src="\css\homeImages\logo.jpg" alt=" hii "class="ilogo">

                </img>
            </div>
            <div class="nav">
                <a href="#">HOME</a>
                <a href="#">GALLERY</a>
                <div>
                    <form class="destination" action="/search" method="GET">
                        <input type="search" id="destination" name="destination" list="destinations" placeholder="DESTINATION" required>
                        <datalist id="destinations">
                            <option value="Paris, France">
                            <option value="New York, USA">
                            <option value="Tokyo, Japan">
                            <option value="Sydney, Australia">
                            <option value="Cape Town, South Africa">
                            <option value="Rio de Janeiro, Brazil">
                            <option value="Rome, Italy">
                            <option value="London, UK">
                            <option value="Dubai, UAE">
                            <option value="Bali, Indonesia">
                            <option value="Barcelona, Spain">
                            <option value="Amsterdam, Netherlands">
                            <option value="Singapore, Singapore">
                            <option value="Istanbul, Turkey">
                            <option value="Bangkok, Thailand">
                            <option value="Los Angeles, USA">
                            <option value="Moscow, Russia">
                            <option value="Seoul, South Korea">
                            <option value="Cairo, Egypt">
                            <option value="Hanoi, Vietnam">
                            <option value="Buenos Aires, Argentina">
                            <option value="Lisbon, Portugal">
                            <option value="Prague, Czech Republic">
                            <option value="Dublin, Ireland">
                            <option value="Mumbai, India">
                            <option value="Toronto, Canada">
                            <option value="Vancouver, Canada">
                            <option value="Melbourne, Australia">
                            <option value="Kuala Lumpur, Malaysia">
                            <option value="Athens, Greece">
                            <option value="Zagreb, Croatia">
                            <option value="Stockholm, Sweden">
                            <option value="Reykjavik, Iceland">
                            <option value="Nairobi, Kenya">
                            <option value="Montevideo, Uruguay">
                            <option value="Brussels, Belgium">
                            <option value="Copenhagen, Denmark">
                            <option value="Oslo, Norway">
                            <option value="Helsinki, Finland">
                            <option value="Budapest, Hungary">
                            <option value="Mexico City, Mexico">
                            <option value="Lima, Peru">
                            <option value="Santiago, Chile">
                            <option value="Cologne, Germany">
                            <option value="Vienna, Austria">
                            <option value="Geneva, Switzerland">
                            <option value="Antwerp, Belgium">
                            <option value="Bucharest, Romania">
                            <option value="Warsaw, Poland">
                            <option value="Tbilisi, Georgia">
                            <option value="Havana, Cuba">
                            <option value="Quito, Ecuador">
                            <option value="Cartagena, Colombia">
                            <option value="Galway, Ireland">
                            <option value="Chennai, India">
                            <option value="Jakarta, Indonesia">
                            <option value="Abu Dhabi, UAE">
                            <option value="Petra, Jordan">
                            <option value="Catania, Italy">
                            <option value="Brisbane, Australia">
                            <option value="Adelaide, Australia">
                            <option value="Christchurch, New Zealand">
                            <option value="Auckland, New Zealand">
                            <option value="San Francisco, USA">
                            <option value="Seattle, USA">
                            <option value="Philadelphia, USA">
                            <option value="Boston, USA">
                            <option value="Miami, USA">
                            <option value="Nashville, USA">
                            <option value="Austin, USA">
                            <option value="Orlando, USA">
                            <option value="Baltimore, USA">
                            <option value="Atlanta, USA">
                            <option value="Salt Lake City, USA">
                            <option value="Dallas, USA">
                            <option value="Houston, USA">
                            <option value="Kansas City, USA">
                            <option value="Phoenix, USA">
                            <option value="Detroit, USA">
                            <option value="Minneapolis, USA">
                            <option value="Montreal, Canada">
                            <option value="Calgary, Canada">
                            <option value="Halifax, Canada">
                        </datalist>
                        <!-- <button type="submit">Search</button> -->
                    </form>
                </div>
                <a href="#">ABOUT US</a>
                <a href="#">CONTACT US</a>
            </div>
        </div>
    </div>

    <div class="object">
        <h1>A World of </h1>
        <h1>Wonders Awaits</h1>
        <h1>Are You Ready to  <span class="now">Explore!<span></h1>

            <form method="GET" action="\listings">
                <button class="btn">See more</button>
            </form>
        

    </div>
    <div class="line">
        <h7>Live <span class="now">life</span > with <span class="now">no</span> regrets.<h7>
    </div>
    

</body>
</html>
