html,body {
    background-color: #EFE7DA !important;
    height: 100%;
    margin: 0;
    
}

body{
    display: flex;
    flex-direction: column;
}

.navbar{
    height:5rem;
    background-color:white;
}

.fa-plane{
    color:#E55812;
    font-size:2rem;
}

.nav-link{
    color: #222222 !important; 
}

.f-info-socials,.f-info-links,.f-info-brand{
    font-size: 1rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.f-info-socials a:hover{
    font-size: 1.4rem;
}

.fa-brands{
    color:#222222;
    margin-right:0.5rem;
    vertical-align: middle;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 0.5rem;
}


.f-info-links a:hover{
text-decoration: underline;
    
}

.f-info{
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly ;
    text-align:center;
    margin-top: auto

}

.card{
    width: 100%;
    overflow: hidden;
    border: none;
    margin-bottom: 2rem;

}
.card-img-top{
    width: 100% !important;
    height: 200px  !important;
    object-fit: cover !important;

}
.card-body{
    /* padding: 0 !important; */
   height:175px

}
.card-text{
    font-weight:400 ;

}
.card-loc,.card-title{
    text-decoration: none ;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{

    opacity:0.1;
    background-color: white;
}

.btn-primary{
    background-color: #E55812 !important;
}

.text{
    text-decoration: none;
}

.card-loc{
    color: rgb(94, 94, 234);
}